# Environment
.env
.env.local
secrets/
service_Account.json
**/google-drive*.json

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/

# Node
node_modules/
dist/
*.local

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Client sample data (may contain sensitive info)
samples/
uploads/

# Database
*.db
postgres_data/

#logs
logs/backend.log
logs/frontend.log
scripts/start-backend.sh
scripts/start-frontend.sh

